.budget-page {
    background-color: var(--siteBGColor);
    min-height: 1000px;
}

.budget {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid var(--siteBorderColor);
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px rgb(0 0 0 / .2);
}

.expand-icon {
    text-align: right;
    padding: 10px 10px 0px 0px;
}

.expand-icon i:hover {
    cursor: pointer;
    font-weight: bold;
}

.filter-container {
    height: 250px;
    transition: height .2s ease;
    padding-left: 40px;
}

.collapsed {
    height: 0px;
    overflow: hidden;
    transition: height .2s ease;
}

.new-budget-item,
.budget-filter {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 20px 0px 20px 0px;
}

.new-budget-item > *,
.budget-filter > * {
    margin: 0px 10px;
    border: 1px solid var(--siteFieldBorderColor);
    border-radius: 5px;
    text-indent: 5px;
    width: 90%;
}

.new-budget-item > *:hover,
.budget-filter > *:hover {
    background-color: var(--firstColor);
    cursor: pointer;
}

.budget-filter-submit:hover {
    background-color: var(--fourthColor);
}

.new-amount,
.budget-filter-year {
    text-indent: 5px;
}

.budget-filter-submit {
    color: white;
    background-color: var(--thirdColor);
    border-radius: 5px;
    max-width: 50px;
}

.budget-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
    padding-top: 20px;
    border-top: 1px solid var(--siteBorderColor);
}

.income,
.expense {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.budget-item {
    width: 90%;
    margin: 10px 0px;
}

.budget-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.budget-item-category {
    border: none;
    background-color: white;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.budget-item-amount-budgeted {
    width: 50px;
    border: none;
}

.budget-item-category:hover,
.budget-item-amount-budgeted:hover {
    cursor: pointer;
    font-weight: bolder;
}

.outer-bar {
    border: 1px solid var(--siteBorderColor);
    background-color: var(--firstColor);
    position: relative;
    height: 20px;
    border-radius: 20px;
}

.inner-bar {
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.income .inner-bar {
    background-color: var(--secondColor);
}

.expense .inner-bar {
    background-color: var(--thirdColor);
}